html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 15px auto;
    padding: 0 50px 50px;
    background-color: #cb0606;
    border-radius: 20px;
}

#sketchContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.row{
    display: flex;
    width: 100%;
}

div.cell{
    flex: 1;
    aspect-ratio: 1 / 1;
}

#sketchContainer,
div.cell{
    background-color: #d0d0d0;
}

div.cell.filled{
    background-color: #000;
}

#changeGridBtn{
    padding: 5px;
    margin: 15px;
}

.titleHeader{
    margin: 15px 15px 0 15px;
    color: #fff;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}